@mixin container-wrapper(
  $container
) {
  display: grid;
  grid-template-columns: [container-wrapper-left] minmax(0, 1fr) [container-wrapper-start] $container [container-wrapper-end] minmax(0, 1fr) [container-wrapper-right];
}

@mixin container {
  display: grid;
  grid-column: container-wrapper-start / container-wrapper-end;
}
